/* Aggiungi al CSS esistente */

header {
  height: 50px;
  background-color: #333; /* Colore di sfondo per l'header */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #fff; /* Linea inferiore bianca */
}

.menu {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Aggiunta ombra */
  font-family: Arial, sans-serif; /* Cambiato il font */
}

.menu h2 {
  font-size: 1.5em; /* Dimensione del titolo */
  margin-bottom: 10px; /* Spazio inferiore */
}

.input-group {
  margin-bottom: 15px; /* Spazio inferiore */
}

.input-group label {
  display: block; /* Rendi il label un blocco */
  margin-bottom: 5px; /* Spazio inferiore */
  font-size: 1.2em; /* Dimensione del testo */
}

.input-group input[type="color"],
.input-group input[type="range"],
.input-group select {
  width: 100%; /* Larghezza completa */
  padding: 5px; /* Spaziatura interna */
  border-radius: 5px; /* Bordi arrotondati */
  border: 1px solid #ccc; /* Bordo */
}

.input-group input[type="color"] {
  appearance: none; /* Nascondi l'aspetto nativo */
}

footer {
  background-color: #333; /* Colore di sfondo per il footer */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #fff; /* Linea superiore bianca */
}